[font.normal]
family = "FiraCode Nerd Font Mono"
style = "Regular"

[general]
import = ["{{ .chezmoi.homeDir }}/.config/alacritty/colours.toml"]

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\n"
